div{
    color :black
}

p{
    margin: 0;
    padding: 0;
    font-size: 14px;
}

a{
    margin: 0;
    padding: 0;
    font-size: 12px;
}

h5{
    margin-bottom: 0px;
  }

  ul{
    margin-top: 0px;

  }

  img{
    width: 50;
    height: 100;
  }

  body{
    background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbM7n-ccBlz4iG__lDdumxcJ0BppnCjgbP2sZNG_K8&shttps://images.unsplash.com/photo-1553095066-5014bc7b7f2d?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8d2FsbCUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80);
    background-repeat: no-repeat; 
    background-size: cover;
    
  }